*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

nav 
{

box-sizing: border-box;
max-height: 100px;
display: flex;
justify-content: space-between;
padding: 16px;
align-items: center;
}

nav img{
    height: 50px;
}

nav ul{
    display: flex;
    list-style: none;
    gap:30px;
    align-items: center;
    justify-content: center;

}

/* nav ul li {
    justify-self: end;
    
} */

a{
    text-decoration: none;
}

.Hero {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90PX;
    padding: 20px;
    background-color: #1F2937;
    flex-wrap: wrap-reverse;
    
}

.Hero img{
    width: 650px;
   
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    width: 500PX;

}

.Hero h1{ 
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAf8;

}

.Hero p{
    font-size: 24px;
    color: #e5e7eb;
}

.Hero button{
    align-self: flex-start;
    padding: 8 24;
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #F9FAf8;
}


.gallery{

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    
    text-align: center;
    padding:36px;
}

.gallery h3{
    font-size: 36px;
}

.items{

    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    /* gap: 36px; */
}

.item{
    align-self: flex-end;
    display: flex;
    flex-flow: column ;
    justify-content: center;
    height: 380px;
    align-items: center;
    gap: 10px;
}

.img-holder{

    border-radius: 10px;

    border: .5px rgb(165, 165, 165) double;
    width: 300px;
    height: 300px;
    
}

.img-holder p{
    max-width: inherit;
}


.quote{
    padding: 100px 25%;
    width:fit-content;
    gap: 20px;
    flex: 1;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote q{
    
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: start;
}

.quote p{       
    font-size: 24px;
    font-style: italic;
    align-self: flex-end;
    color: rgb(51, 50, 50);
}