*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

nav 
{
width: 100vw;
box-sizing: border-box;
max-height: 100px;
display: flex;
justify-content: space-between;
padding: 16px;
align-items: center;
}

nav img{
    height: 50px;
}

nav ul{
    display: flex;
    list-style: none;
 
    gap:30px;

}

nav ul li {
    justify-self: end;
    
}

a{
    text-decoration: none;
}